/* Webフォント */
@font-face {
    font-family: "JF-Dot-K14";
    src: url("../fonts/JF-Dot-K14.ttf") format("truetype");
}


/* 共通 */
* {
    font-family: "JF-Dot-K14", serif;
    box-sizing: border-box;
    text-align: center;
}

body, p, div {
    padding: 0;
    margin: 0;
}

a:hover {
    color: yellow;
}

.hover-yellow:hover {
    color: yellow;
}


/* イメージ */
.image {
    margin-bottom: 120px;
}


/* イントロダクション */
.intro {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 200px;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: left;
}


/* イベント情報 */
.overview {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 300px;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: left;
    padding: 40px;
    border: 5px solid #ffffff;
}


/* プログラム */
.programs {
    margin-bottom: 300px;
}

.program-box {
    width: 360px;
    height: 300px;
    margin: 2rem auto;
    border: 4px solid #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.program-box-title {
    width: 310px;
    background-color: #000000;
    border: 4px solid #ffffff;
    font-size: 1.5rem;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 1;
    position: absolute;
    top: -25px;
}


/* 会場案内 */
.access {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 300px;
    font-size: 1.25rem;
}


/* 注意事項 */
.notes {
    font-weight: bolder;
    font-size: 1.25rem;
    text-align: left;
    width: max-content;
    border: 2px solid #ffffff;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 200px;
}


/* クレジット */
.credits {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 300px;
    text-align: left;
}


/* フッター */
.footer {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 0.8rem;
    text-align: left;
}